spring:
  application:
    name: mapngo
  datasource:
    url: jdbc:postgresql://localhost:5432/mapngo-db
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true